<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
		<!---Img src should be ./images, size is 750x450--->
            <img class="img-responsive" src="">
        </div>
        <div class="col-md-6">
            <h2>Welcome to my example website.</h2>

            <p>TThis site features React.js, HTML5, and will, depending on when I get a host, will also feature a Django database, so you can interact with it.</p>
		
            <p>Through the navigation pane, you can access a fake store, with prices, and a responsive page to add/remove items,
		an about me, a fake blog, filled with useless junk, and more!</p>

            <hbar>
            <p>About me</p>
            <p>I am a classically trained astrophysicist, with an eye for faster-than-light physics, and a strong background in computer programming.  I have experience in the following languages:</p>
		<ul><li>C</li>
		    <li>C++</li>
		    <li>Assembly</li>
		    <li>C#</li>
		    <li>Q#</li>
		    <li>HTML/HTML5</li>
		    <li>JavaScript</li>
		    <li>Java</li>
		    <li>Python</li>
		    <li>Perl</li>
		    <li>Golang</li>
		</ul>


        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Products I have developed</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="">

            <h3>A general relativity library (2005)
                <small>GenRLib</small>
            </h3>
            <p>Back in 2005/2006-ish, I built a small General Relativity library that was, at that point, the fastest in the world.  Then MIT got involved, and they have held the record ever since.
        </div>


<!--
        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>More coming later.  Fill in, as needed.
                <small>Name of project.</small>
            </h3>
            <p></p>
            
        </div>
    </div>
-->
</div>
<!-- /.container -->
